# needed for loot generation.
protected net.minecraft.data.loot.BlockLootSubProvider HAS_SHEARS_OR_SILK_TOUCH # HAS_SHEARS_OR_SILK_TOUCH
#
public net.minecraft.data.loot.BlockLootSubProvider HAS_NO_SHEARS_OR_SILK_TOUCH # HAS_NO_SHEARS_OR_SILK_TOUCH
#
public net.minecraft.data.loot.BlockLootSubProvider NORMAL_LEAVES_STICK_CHANCES # NORMAL_LEAVES_STICK_CHANCES
#
public-f net.minecraft.world.level.block.grower.TreeGrower
